/php-server-side-sdk/node_modules
/php-server-side-sdk/public/hot
/php-server-side-sdk/public/storage
/php-server-side-sdk/storage/*.key
/php-server-side-sdk/vendor
/php-server-side-sdk/.idea
/php-server-side-sdk/.vscode
/php-server-side-sdk/.vagrant
/php-server-side-sdk/Homestead.json
/php-server-side-sdk/Homestead.yaml
/php-server-side-sdk/npm-debug.log
/php-server-side-sdk/yarn-error.log
/php-server-side-sdk/.env
/mobile-connect-sdk/node_modules
/mobile-connect-sdk/public/hot
/mobile-connect-sdk/public/storage
/mobile-connect-sdk/storage/*.key
/mobile-connect-sdk/vendor
/mobile-connect-sdk/.idea
/mobile-connect-sdk/.vscode
/mobile-connect-sdk/.vagrant
/mobile-connect-sdk/Homestead.json
/mobile-connect-sdk/Homestead.yaml
/mobile-connect-sdk/npm-debug.log
/mobile-connect-sdk/yarn-error.log
/mobile-connect-sdk/.env
